@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
.font{
    font-size: 20px;
    
}

.navbar-dark .navbar-nav .nav-link {
    color:lightseagreen;
    font-family: 'Yeon Sung', cursive;
    font-weight:bolder;
    font-variant: normal;
    text-align: center;
    justify-content: center;
}

