.form-control {
    position:relative;
    z-index: 999; 
}

.title{

    color: white;

}

@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
.articleback{
    font-size: 30px;
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:skyblue;
  align-items: center;
 font-family: 'Yeon Sung', cursive;
}
.back{
    justify-content: center;
    align-items: center;
    display: flex;
}
.form-group {
    margin-bottom: 1rem;
}

h1{
    color:white;
    font-weight: bolder;
    font-family: 'Yeon Sung', cursive;
}
