.form-control {
    position:relative;
    z-index: 999;
}

.title{
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
.articleback{
    font-size: 30px;
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#121212;
  align-items: center;
 font-family: 'Yeon Sung', cursive;
}
.back{
    justify-content: center;
    align-items: center;
    display: flex;
}
.form-group {
    margin-bottom: 1rem;
}


.form-group label{
    color:lightseagreen;
}

.form-group input{
    background-color: #121212;
    color: aqua;
}

.form-group input:focus {
    background-color: #121212;
    color: aqua;
}

.form-group textarea{
    background-color: #121212;
    color: aqua;
}

.form-group textarea:focus {
    background-color: #121212;
    color: aqua;
}

h1{
    color:white;
    font-weight: bolder;
    font-family: 'Yeon Sung', cursive;
}
