.body{
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #d11717;
    background-image: url("../asset-1.png");
  }